version: '3.8'

x-api-common: &api_common
    image: manga_love_api
    build: .
    stdin_open: true
    tty: true
    restart: always
    volumes:
      - .:/app
      - ./node_modules:/app/node_modules
      - ./tmp:/app/tmp
    networks:
      - love
    env_file:
      - ./.env
    depends_on:
      - postgres
      - redis

services:
  gateway:
    <<: *api_common
    command: npm run start:dev gateway
    ports:
      - '3000:3000'
    links:
      - auth
      - work

  auth:
    <<: *api_common
    command: npm run start:dev auth
    links:
      - mailer

  mailer:
    <<: *api_common
    command: npm run start:dev mailer

  work:
    <<: *api_common
    command: npm run start:dev work
    links:
      - uploader

  uploader:
    <<: *api_common
    command: npm run start:dev uploader

  bull-admin:
    <<: *api_common
    command: npm run start:dev bull-admin
    ports:
      - '3001:3000'

  postgres:
    image: postgres:15.1-alpine
    volumes:
      - data_psql:/var/lib/postgresql/data
    networks:
      - love
    env_file:
      - ./.env

  redis:
    container_name: manga_love_redis
    image: redis:7.0.7-alpine
    volumes:
      - data_redis:/data
    networks:
      - love
    env_file:
      - ./.env

volumes:
  data_psql:
    driver: local
  data_redis:
    driver: local

networks:
  love:
