server {
    listen 443 ssl http2 default_server;
    listen [::]:443 ssl http2;
    ssl_certificate /app-certs/cert.pem;
    ssl_certificate_key /app-certs/key.pem;
    ssl_client_certificate /app-certs/cloudflare.crt
    ssl_verify_client on;

    access_log off;
    autoindex off;
    client_max_body_size 100M;
    charset utf-8;
    root /app;
    gzip off;

    location /bull-admin {
        proxy_pass http://bull-admin:3000;
    }

    location /static {
        add_header Pragma public;
        add_header Cache-Control "public";
        gzip on;
        gzip_types text/css image/svg+xml;
        try_files $uri @not-found;
    }

    location @not-found {
        return 404;
    }

    location = /schema.graphql {
        add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
        alias /app/schema.graphql;
    }

    location / {
        proxy_pass http://gateway:3000;
    }
}
